body{
	margin: 0px;
}
/*body header*/
#body-header{
	height: 65vh;
	width: 100vw;
	opacity: 0.9;
	background-image: url(static/plain.jpg);
	background-position:cover;
	background-position: center;
	background-attachment: fixed;
	
}

/*horizontal list*/
.horizontal-list{
	list-style: none;
	padding-left: 0px;
	margin-left: 0px;
	/*text-align: center;*/

}

.horizontal-list li{
	display: inline-block;
	margin-left: 8px;
	margin-right: 8px;
}

.horizontal-list a{
	color: white;
	text-decoration: none;
	
	
}
/*nav menu used bkz transition and underline was showing when hovering*/
.nav-menu li a{
	transition: color 0.8s, border-bottom 0.8s;
}
.nav-menu a:hover{
	border-bottom: 1px solid white;
}

.horizontal-list a:hover{
	color: orange;
	/*border-bottom: 1px solid white;*/
	
}

.text-centre{
	text-align: center;
}


/*for name*/
#name h1{
	color: #420f0f;
	text-align: center;
	margin-top: 80px;
	font-family: cursive;
	font-size: 50px;
}

#name h1:hover{
	color: orange;
	/*text-decoration: underline;*/
}

.social-icons li a i{
	padding:20px;
	border-radius:50%;
}

.social-icons li a i:hover{
	box-shadow: 0px 0px 6px 4px rgba(230,196,196,0.2) ;
	
}
#about{
	height: auto;
	width: 100%;
}

#my-image{
	height: 12rem;
	width: 12rem;
	margin:auto;
	position: relative;
}

#my-image img{
	height:100%;
	width:100%; 
	/*margin:auto; */
	margin-top: -21vh;
	border-radius: 50%;
	
	/*padding-left: 0px;*/
}

#about p{
	padding-left:80px;
	padding-right: 80px;
	margin-top: -18vh;
}



section{
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}




section:target{
	/*background: repeating-linear-gradient(to bottom right,red,blue 10px);*/
}

.section-heading{
	width: auto;
	padding: 20px 10px 10px;
	/*margin: 10px auto;*/
	font-weight: 400;
	font-family: cursive;


}

.section-heading span{
	/*text-align: center; TEXT CENTER CLASS IS ADDED INSTEAD*/
	padding: 2px;
	color: blue;

}

section:nth-child(2n){
	background-color: grey;
	/*height: 75vh;*/
	/*background: repeating-linear-gradient(to bottom right,red,blue 10px);*/
}

section:nth-child(2n+1){
	background-color: white;
	/*height: 75vh;*/
	
}

.skills-display{
	width:auto;
	/*height: auto;*/
	/*border:2px solid black;*/
	padding: 10px;
	margin-bottom: 20px;
	display: flex;
	/*flex-direction: row;*/
	flex-wrap: wrap;
	justify-content: space-around;
	

}

#skills:hover{
	background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
	width: 100vw;
}

.skill-progress{
	width: 11rem;
    height: 2.2rem;
    background-color: #03befc;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px 1px #b9b9b9 inset;
    margin: 15px;
    overflow: hidden;


}


/*common margin classes*/
.mb75px{
	margin-bottom: 50px;
}

.text-highlight{
	color: #2857a4; 
	font-weight: 600;

}


.mb-blue{
	background-color: #9990E1;
}

.mb-lightgrey{
	background-color: #9F9A96;
}
.mb-brown{
	background-color: #CA8F6A;
}
.mb-red{
	background-color:#D286AE;
}
.mb-orange{
	background-color:#ED9F5E;
}
.mb-yellow{
	background-color:#F7EC91;
}



.eighty-five-percent{
	width: 85%;
	height: inherit;

}

.eighty-percent{
	width: 80%;
	height: inherit;

}

.seventy-percent{
	width: 70%;
	height: inherit;

}
.ninty-percent{
	width: 90%;
	height: inherit;

}






.skill-name span{
	color: black;
	font-size: 1rem;
	margin-left: 15px;

	vertical-align: middle;
	font-family: cursive;
	/*font-style:italic; */
	padding: 10px;



}

.skill-progress>div{
	border-radius: 20px 0px 0px 20px;
	box-shadow: 1px 1px 5px 2px black;
}

/*Timeline*/

.timeline{
	position: relative;
	width: 75%;
	/*border: 2px solid black;*/
	margin-bottom:
}

.timeline:hover{
	background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
}

.timeline-box{
	position: relative;
	margin: 5px;
	width:40%;
	left: 5%;
	min-height: 150px;
	/*border: 2px solid black;*/
}

.timeline-box:nth-child(2n){
	left: 53%;
}

.text-pretty{
	font-family: cursive;
	font-weight: 600;
	

}

.timeline-divider{
	position: absolute;
	height: 75%;
	width:0px;
	border: 2px dashed blue;
	top:10%;
	left:50%;
}

.timeline-traveller{
	position: sticky;
	top: 25%;
	left:50%;
	transform: rotate(90deg);
	z-index: 2;

}

.timeline-box:nth-child(2n)::after{
	content: '';
	border-radius: 50px;
	width: 0.5rem;
	height: 0.5rem;
	position: absolute;
	top:40%;
	background-color: red;
	left: -11%;
	z-index: 1;
}

.timeline-box:nth-child(2n+1)::after{
	content: '';
	border-radius: 50px;
	width: 0.5rem;
	height: 0.5rem;
	position: absolute;
	top:40%;
	background-color: red;
	right: -12%;
	z-index: 1;

}


#experience{
	height: 160vh;

}

#portfolio{
	height: 130vh;
	background-color: lightgray;

}

#portfolio:hover{
	background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
}

/* Portfolio Section */

#portfolio-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    margin-bottom: 20px;
    justify-content: space-around;
}

.portfolio-image-container {
    max-width: 300px;
    overflow: hidden;
    margin: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.portfolio-image-container img {
    width: 100%;
    height: 100%;
}

.portfolio-details {
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: transparent;
    text-align: center;
    padding: 10px;
}

.portfolio-image-container:hover {
    box-shadow: 0 0 20px #74ADC8;
}

.portfolio-image-container:hover .portfolio-details {
    background-color: #80808078;
    color: white;
}
/* Contact Form */

#contact {
    background-color: #0abcf9;
    background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
    color: white;
    padding-bottom: 40px;
}

#contact h1,
#contact h1 span {
    color: white;
}

#contact-form {
    margin-left: 20%;
}

#contact-container {
    display: flex;
}

#my-details-container {
    width: 35%;
    margin-left: 6%;
}

#my-details-container h3 {
    color: white;
    font-weight: 550;
    font-size: 1.2rem;
}

#contact-form-container {
    width: 50%;
}

#my-details-container p {
    color: #d9dcdd;
    font-size: 0.9rem;
}

.my-details-info-container {
    margin-bottom: 20px;
    color: #d9dcdd;
    font-size: 1rem;
}

.my-details-info-container span {
    margin-left: 0.4rem;
}

.my-details-info-container i {
    color: white;
}

.my-details-icon {
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
    margin-right: 0.5rem;
}


#contact-form input,
textarea {
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    color: #d9dcdd;
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}

#contact-form button[type="submit"] {
    background: transparent;
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}

#contact-form button:hover {
    background: white;
    color: #13386fe0;
}

#contact .social-icons li a i {
    font-size: 1.2rem;
    margin: 40px 10px 10px;
    padding: 10px 14px 20px 10px;

}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}













